services:
  db:
    container_name: pg_container
    image: postgres:18.2
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_USER: invoice_user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: invoice_studio
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  pgadmin:
    container_name: pgadmin4_container
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: password
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  postgres_data: